<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- PAGE SPECIFIC CSS-->
    {% block css %}
    {% endblock %}

    <title>CARE</title>
    
</head>
<body>
     
    {% block header %}
    <header>
    {% if session.get('role') == 'official' %}
        <a href="{{ url_for('homepage_bp.home_brgyofficial') }}">Home</a> |
        <a href="{{ url_for('announcement_bp.announcement') }}">Announcement</a> |
        <a href="{{ url_for('checkup_bp.check_up_log_official') }}">Check-up Log</a> |
    {% elif session.get('role') == 'resident' %}
        <a href="{{ url_for('homepage_bp.home_resident') }}">Home</a> |
        <a href="{{ url_for('announcement_bp.announcement') }}">Announcement</a> |
        <a href="{{ url_for('checkup_bp.check_up_log_resident') }}">Check-up Log</a> |
    {% endif %}
    </header>
    {% endblock %}

    {% block content %}{% endblock %}
    {% block script%} {%endblock%}
</body>
</html>